@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

input,
select {
  font-family: inherit;

}

.reactLink {
  text-decoration: none;
  color: inherit;
}
